html, body {
    background: #d6ceb7;
    font-family: Arial, sans-serif;
    height: 100%;
    position: relative;
    text-align: center;
}

.logo {
    width: 100%;
    background-color: #d6ceb7;
    height: auto; 
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image {
    max-width: 100%;
    height: auto;
}

.navbar {
    position: fixed;
    top: 8vw;
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 1px solid #bab5a4;
    border-bottom: 1px solid #bab5a4;
    background-color: #d6ceb7;
    z-index: 10;
}

.nav-items {
    display: flex;
    text-align: center;
    list-style: none;
    padding: 0;
    gap: 5vw;
}

.nav-items li {
    display: inline;
}

.nav-items a {
    text-decoration: none;
    font-size: 1vw;
    color: #333;
    padding-bottom: 5px;
    position: relative;
    transition: color 0.3s ease;
}

.nav-items a:hover {
    color: #726e5e;
}

.nav-items a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #726e5e;
    transition: width 0.3s ease;
}

.nav-items a:hover::after {
    color: #726e5e;
    width: 100%;
}

.gallery {
    position: relative;
    margin-top: 20vh;
    width: 100vw;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slides img {
    flex-shrink: 0;
    width: 100vw;
    height: 60vh;
    object-fit: cover;
    filter: grayscale(100%);
}